html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all .3s ease-in;
}
.loading {
  height: 100vh;
  width: 100%;

}