@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap');
:root{
  --black: #000112;
  --very-dark-grey: #20212C;
  --dark-grey: #2B2C37;
  --lines-dark: #3E3F4E;
  --medium-grey: #828FA3;
  --lines-light: #E4EBF8;
  --light-grey: #F4F7FD;
  --white: #FFFFFF;
  --main-purple: #635FC7;
  --main-purple-hover: #A8A4FF;
  --red: #E85555;
  --red-hover: #FF9898;
}
/* Define the scrollbar width and color */
::-webkit-scrollbar {
  width: 8px;
}

/* Define the track color */
::-webkit-scrollbar-track {
  background-color: #2b2c3745;
  border-radius: 4px;
}

/* Define the scrollbar thumb color and border radius */
::-webkit-scrollbar-thumb {
  background-color: #6D6E7A;
  border-radius: 4px;
}

/* Hover effect on the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #8C8D98;
}

/* Define the scrollbar thumb when it's being dragged */
::-webkit-scrollbar-thumb:active {
  background-color: #4F5060;
}
html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}input, textarea {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}* {
  box-sizing: border-box;
  transition: all .2s ease-in;
}
.loading {
  height: 100vh;
  width: 100%;
}h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}ul {
  padding: 0;
  margin: 0;
}.flex {
  display: flex;
}.space-between {
  display: flex;
  justify-content: space-between;
}.board.dark {
  background: var(--very-dark-grey);
  color: #fff;
}.dark .pane {
  background: var(--dark-grey);
}.board {
  height: 100vh;
  overflow: hidden;
}.alt-text {
  color: var(--medium-grey);
}.plain {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.pry-bg {
  background: var(--main-purple);
}

.pry-bg:hover {
  background: var(--main-purple-hover);
}

.btn {
  border: 0;
  padding: 0.7em 1.5em;
  border-radius: 3em;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
}

.inline-editor {
  outline: none;
  background: none;
  font-size: 12px;
  border: 0;
}

.dark .border-right {
  border-right: 1px solid #8989895c;
}

.light .border-right {
  border-right: 1px solid var(--lines-light);
}

.dark .border-bottom {
  border-bottom: 1px solid #8989895c;
}

.light .border-bottom {
  border-bottom: 1px solid var(--lines-light);
}

.dark .border-top {
  border-top: 1px solid #8989895c;
}

.light .border-top {
  border-top: 1px solid var(--lines-light);
}

.dark .border {
  border: 1px solid #8989895c;
}

.light .border {
  border: 1px solid var(--lines-light);
}

.red-color {
  color: var(--red);
}

.light .hoverable:hover,
.light .board-list-item:hover,
.light .hide-sidebar-btn:hover {
  background: var(--main-purple-hover);;
  color: var(--white);
}

.dark .hoverable:hover,
.dark .board-list-item:hover,
.dark .hide-sidebar-btn:hover {
  background: var(--white);
  color: var(--main-purple) !important;
}

.text-right {
  text-align: right;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.error-alert {
  position: absolute;
  right: 0;
  padding: 1em;
  border: 1px solid var(--red);
  background: var(--red-hover);
  margin: 2em;
  color: #ce2929;
  border-radius: 4px;
  box-shadow: 0 0 6px 0px var(--red-hover);
}

.link {
  display: inline-block
}

.link:hover {
  color: var(--main-purple);
}
.task-columns {
  height: 100%;
}
.task-board {
  padding: 1em;
  height: calc(100vh - 54px);
}

.alt-pry-text{
  color: var(--main-purple);
  font-size: 12px;
}

.btn-icon {
  padding: 0px !important;
  background: none;
  width: 16px;
  height: 16px;
}
.column {
  min-width: 180px;
  max-width: 250px;
  width: 20%;
  margin-right: 1em;
  min-height: 100vh;
}

.task-column {
  height: 13px;
}

.column>h2,
.task-column>h2 {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
}

.task-card {
  border-radius: 5px;
  padding: 1em;
  font-size: 12px;
  margin-top: 1em;
}

.dark .task-card {
  background: var(--dark-grey);
}

.light .task-card {
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.task-card>div>h3 {
  font-weight: 500;
  font-size: 14px;
}

.task-description {
  margin-top: 5px;
  font-size: 12px;
}

.right-pane {
  overflow: hidden;
  overflow-x: auto;
}

.tasks {
  width: 100%;
  overflow: auto;
  height: 100vh;
}

.alt-pry-text {
  color: var(--blue);
}

.d-none {
  display: none;
}

.inline-editor {
  outline: none;
  background: none;
  font-size: 12px;
  border: 0;
}

.new-task {
  outline: none;
  background: none;
  border: 0;
  margin-top: 2em;
  font-size: 12px;
}

.dark .new-task {
  color: #ffffff;
}.light .new-task {
  color: var(--dark-grey);
}

.new-task-inline {
  margin-top: unset;
}

.btn-icon > img {
  width: 4px;
}











.task-board > .empty {
  justify-content: center;
    align-items: center;
    height: calc(100vh - 54px);
}

.d-none {
  display: none;
}

.new-task-inline {
  margin-top: unset;
}

.error {
  color: var(--red) !important;
}

.status-options {
  position: absolute;
  background: var(--dark-grey);
  border-radius: 5px;
  min-width: 138px;
  right: 0;
  top: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.status-options>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.status-options>ul>li {
  font-size: 12px;
  padding: .5em 1em;
}

.status-options>ul>li:hover {
  background: #645fc673;
}

.status-options>ul>li:first-of-type {
  border-radius: 5px 5px 0 0;
}

.status-options>ul>li:last-of-type {
  border-radius: 0 0 5px 5px;
}

.relative {
  position: relative
}

.new-board>button {
  background: none;
  border: 0;
  font-size: 10px;
}

.inline-btn {
  border: 0;
  background: none;
  color: #fff;
}

.no-selected {
  justify-content: center;
}

.default-board-message {
  color: #ffffff99;
  font-size: 1em;
  width: 300px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0 0 0 / 66%);
  align-items: center;
  justify-content: center;
}

.modal {
  max-width: 400px;
  width: 100%;
  padding: 1em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.5) 0px 1px 2px;
  max-height: calc(100vh - 3em);
  overflow: auto;
}

.dark .modal {
  background: var(--dark-grey);
}.light .modal {
  background: var(--white);
}

.close-btn:hover {
  transform: rotate(-90deg);
}

.modal-body>label {
  display: block;
  font-size: 12px;
}

.modal-body input,
.modal-body select,
.modal-body textarea {
  display: block;
  background: transparent;
  border: 1px solid #8989895c;
  border-radius: 4px;
  outline: none;
  width: 100%;
  padding: 0.8em;
  font-size: 12px;
  margin-bottom: 1em;
  margin-top: .5em;
}

.modal-body button,
.modal-footer button {
  border-radius: 5em;
  width: 100%;
  margin-bottom: 1em;
}

.v-align {
  align-items: center;
  justify-content: center;
}

.add-subtask-btn {
  color: var(--main-purple);
  background: #ffffff;
}

.modal-title {
  margin-bottom: 1em;
}

.no-resize {
  resize: none;
}

.button {
  font-size: 10px !important;
}

.hide-sidebar-btn {
  background: none;
  border: none;
  font-size: 12px;
}

.status-icon {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 0.5em;
}

.mt--1 {
  margin-top: -1em;
}