.form-wrapper {
    width: 50%;
}
.illustration{
    padding: 3em 2em;
    width: 50%;
    text-align: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}
.illustration>img {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 4em);
    border-radius: 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.note {
    font-size: 2em;
    margin-top: 2em;
    padding-bottom: 1em;
}
.form-content {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    padding-top: 2em;
}
.form-content > p {
    margin-top: 1em;
    font-size: 12px;
    line-height: 18px;
}
.form {
    margin-top: 2em;
}
.form-content input, 
.form-content button {
    margin-bottom: 1em;
    display: block;
    padding: 1em !important;
    outline: 0;
    width: 100%;
    border-radius: 2em;
}
.form-content input[type="password"] {
    padding-right: 3.5em !important;
}
.forgot {
    font-size: 11px;
    margin-top: -1em;
    margin-bottom: 2em;
    padding: 1em;
}

.password-toggle {
    right: 9px;
    top: -52px;
    padding: 0.5em;
}
.auth-page {
    padding: 1em;
}
.social-btn {
    background: transparent;
    color: var(--medium-grey);
}
.social-btn:hover {
    background: var(--light-grey);
}
.social-btn > svg {
    position: relative;
    top: 4px;
}
@media (max-width: 800px) {
    .illustration {
        display: none;
    }
    .auth-page {
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .form-wrapper {
        padding: 2em;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    .form-content {
        padding-top: 2em;
        padding-bottom: 2em;
        min-width: unset;
    }
}@media (max-width: 900px) {
    .illustration {
        padding: 6em 2em;
    }
    .note {
        font-size: 1em;
    }
}
@media (max-width: 600px) {
    .form-wrapper {
        width: 100%;
        margin: 2em;
    }
}
@media (max-width: 700px) {
    .form-wrapper {
        width: 80%;
    }
}
@media (max-width: 500px) {
    .form-wrapper {
        width: 100%;
        margin: 1em
    }
}