:root {
    --black: #000112;
    --very-dark-grey: #20212C;
    --dark-grey: #2B2C37;
    --lines-dark: #3E3F4E;
    --medium-grey: #828FA3;
    --lines-light: #E4EBF8;
    --light-grey: #F4F7FD;
    --white: #FFFFFF;
    --main-purple: #635FC7;
    --main-purple-hover: #A8A4FF;
    --red: #E85555;
    --red-hover: #FF9898;
    --main-purple-10: #635fc71A;
}
.leftPane {
    font-size: 12px;
    position: relative;
    height: 100vh;
}
.light .leftPane {background: var(--light-grey);}
.mid-left-pane {
    height: calc(100vh - 53.5px);
    min-width: 250px;
    padding: 1rem;
    width: 20%;
}
.light .mid-left-pane,
.light .pane {
    background: var(--white);
}
.mid-left-pane.invisible{
    min-width: unset;
    width: 0;
    padding: 0;
}
.leftPaneFooter {
    position: absolute;
    width: calc(100% - 3em);
    bottom: 2em;
}
.logo-wrapper {
    padding: 1em;
    height: 52.5px;
}
.logo > * {
    display: inline-block;
}
.logo > h2 {
    font-size: 1.8rem;
    position: relative;
    top: -4px;
    left: 0.3em;
}

.logo {
    min-width: 134px;
}

.theme-toggle {
    padding: 0.5em;
    border-radius: 3px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.theme-toggle>* {
    display: inline-block;
}

.dark .theme-toggle {
    background: var(--very-dark-grey);
}

.light .theme-toggle {
    background: var(--light-grey);
    color: var(--medium-grey);
}

.switch {
    background: var(--main-purple);
    width: 27px;
    height: 14px;
    padding: 2px;
    border-radius: 10px;
    position: relative;
    top: -2px;
    margin: 0 0.5em;
    margin-right: 1.5em;
    text-align: left;
}

.switch-knob {
    background: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    top: -1px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.switch-btn {
    position: relative;
    top: 2px;
    padding: 3px;
}

.new-board-btn,
.new-column {
    color: var(--main-purple)
}

.list-title,
.new-board {
    padding: 1em;
}

.plain > img,
.plain > svg {
    margin-right: 1em;
}.hide-sidebar-btn {
    padding: 1em;
    margin-left: calc(-1em + -3px);
    padding-left: calc(2em + 4px);
    width: calc(100% + 1em + 2px);
    border-radius: 0 2em 2em 0;
}

.hide-sidebar-btn>span {
    display: inline-block;
}

.hide-sidebar-btn-sm {
    padding: 1em 1.3em 1em 1em;
    border-radius: 0 3em 3em 0;
}

.hide-sidebar-btn-sm>img {
    margin-right: unset !important;
}

.board-list-item {
    padding: 1em;
    margin-left: calc(-1em + -4px);
    padding-left: calc(2em + 4px);
    border-radius: 0 2em 2em 0;
}

.board-list-item>img,
.board-list-item>svg {
    margin-right: 1em;
}

.board-list-item.selected {
    background: var(--main-purple);
    color: var(--white) !important;
}