:root {
    --black: #000112;
    --very-dark-grey: #20212C;
    --dark-grey: #2B2C37;
    --lines-dark: #3E3F4E;
    --medium-grey: #828FA3;
    --lines-light: #E4EBF8;
    --light-grey: #F4F7FD;
    --white: #FFFFFF;
    --main-purple: #635FC7;
    --main-purple-hover: #A8A4FF;
    --red: #E85555;
    --red-hover: #FF9898;
}
.paneTitle {
    font-weight: 500;
    font-size: 14px;
}

.topPane {
    padding: 0.7rem;
    align-items: center;
    height: 52.5px;
}
.right-pane {
    width: 100%;
}

.light .topBarActions {
    background: var(--white);
}

.dark .topBarActions {
    background: var(--very-dark-grey);
}

.topBarActions {
    position: absolute;
    font-size: 12px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 5px;
    right: 2em;
    top: 4em;
}

.topBarActions>ul {
    list-style: none;
    padding: 0;
}.topBarActions>ul>li {
    padding: 1em;
}.topBarActions>ul>li:first-of-type {
    border-radius: 5px 5px 0 0;
}.topBarActions>ul>li:last-of-type {
    border-radius: 0 0 5px 5px;
}

.topBarActions>ul>li:hover {
    padding: 1em;
    background: var(--dark-grey-bg);
}

.light .right-pane {
    background: var(--light-grey);
}

.light .topPane {
    background: var(--white)
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.empty-board > .btn {
    padding: 1em 2em;
}